[2020-07-01 09:11] Jorewang opened #9 "gram-cam issue"
When I run cam_example.py with grad-cam, i get following issue, please tell me how to fix it?

![1](https://user-images.githubusercontent.com/22468345/86226160-d41b6680-bbbd-11ea-8233-6fcf47f4067c.png)

[2020-07-09 14:55] frgfm commented on #9
Hi there @Jorewang,

Thanks for reporting this! I am not able to reproduce this error so far. Would you mind:
- specifying whether you use different values for script arguments than the default ones
- specifying your setup (which you can do by running this [script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py) for instance, and pasting the result in your repl

[2020-07-31 19:24] mbary opened #10 "ImportError: cannot import name 'ScoreCAM'"
Hello,

I am trying to use your implementation of Score CAM.
Before implementing it in my model (pre-trained resnet) I wanted to run the basic example provided in the documentation:

[code]

However I am getting the error mentioned in the title.

Initially I've installed it via pip,
I tried uninstalling it and installing via conda.

However this then "broke" the torchvision package which required

[2020-08-02 16:45] frgfm commented on #10
Hi there @mbary,

Apologies, it is simply due to the fact that the last release I made was before I implemented ScoreCAM. If you were to install it by cloning the repo, and then `pip install -e . --upgrade` you should be able to run the example!

It's my fault, the documentation happens to be synchronized with the repo master branch, not necessarily with the last release. I was waiting for feedbac

[2020-08-03 21:49] frgfm commented on #10
Closing this for now as I just made a new [release](https://github.com/frgfm/torch-cam/releases/tag/v0.1.1), feel free to reopen if you encounter the issue again!

[2020-08-03 21:49] #10 closed

[2020-08-26 13:31] frgfm commented on #9
Any update @Jorewang?

[2020-09-02 08:05] gulleh opened #14 "Model evaluation"
Hi,

I have a question about cam_example.py. Shouldn't the model be in eval() mode? I noticed without setting the model.eval() the prediction labels are wrong while after setting to eval mode the ScoreCam and SSCAM heatmaps are zero. Could you please check this?

[2020-09-06 15:21] frgfm commented on #14
Hey there @gulleh,
I just made a PR #15 to address this. However, I was not able to reproduce your issue of having zero-value heatmaps for ScoreCAM and SSCAM. Did you use the default script arguments?

Here is what I got removing some CAMS:

![cam_example](https://user-images.githubusercontent.com/26927750/92329064-51070880-f065-11ea-9087-344db3a48eea.png)

[2020-09-07 04:51] gulleh commented on #14
I made some changes to check the classification score first. Without setting to eval the predictions were wrong and the heat maps were are the same for different images. My problem is that after setting the model.eval(), the heatmaps won't change for different images.

[2020-09-07 07:55] frgfm commented on #14
Thanks for the feedback! If you used different argument values than the default ones or modified the script, would you mind telling me? I'm unable to reproduce the behaviour you mentioned. As you can see, the output I got was from the script using the latest PR commit (only modifying the CAM selection), and the outputs are different from one method to another as shown on the picture I uploaded.

P

[2020-09-07 08:15] gulleh commented on #14
Thanks for the reply. Here is the snippet of the code I used.
[code]
![image](https://user-images.githubusercontent.com/1225441/92364149-97c03580-f12d-11ea-9aa5-feabf8678d2a.png)

As you can see the heatmap does not change for different images.

[2020-09-07 08:48] frgfm commented on #14
Thanks for the details @gulleh!
I think I see why you get this behaviour: the sample script was designed to visualize different cams on a single picture, so I iterate only once per extractor. Which allows me to clear the hooks from the model before the next extractor gets to set his own.

In your case, on top of iterating on extractors, you iterate over pictures. When you keep the same extractor,

[2020-09-07 09:21] gulleh commented on #14
Thanks for the suggestion. However, I changed the position of clear_hooks and it seems to be working but I'm not sure.
![image](https://user-images.githubusercontent.com/1225441/92371674-dc9c9a00-f136-11ea-9541-47f75e067f92.png)

[2020-09-07 09:21] #14 closed

[2020-09-07 14:28] frgfm commented on #9
Closing this for now, feel free to reopen if you encounter this issue again!

[2020-09-07 14:28] #9 closed

[2020-10-13 13:28] kamalesh0406 opened #17 "Video Models"
Hi can we use this library to use GRAD-CAM on 3D CNN models?

[2020-10-14 10:59] frgfm commented on #17
Hi there @kamalesh0406,

The visualization script is not adapted for 3D tensors, as they can't be mapped to PIL images. But the CAM extractor itself is compatible yes. Here is a small example:
[code]

which yields:
[code]

I would advise against using CAM methods that are computationally intensive with 3D CNN depending on your system specs (Score CAM & SS CAM for instance).

If you feel like submi

[2020-10-14 14:25] kamalesh0406 commented on #17
Yup this helps thanks!

[2020-10-15 13:15] frgfm commented on #17
Glad it helped @kamalesh0406!
I'll close the issue then, feel free to reopen if you get some troubles along the way :ok_hand:

[2020-10-15 13:15] #17 closed

[2020-10-23 11:35] frgfm opened #18 "Add annotation typing and mypy CI verification"
Considering the relatively small codebase, it would be preferable to add annotation typing early for clearer documentation and interface. A CI job should be added to enforce mypy where it's possible.

[2020-10-23 21:57] #18 closed

[2020-11-12 10:05] zhangpanPP commented on #9
When I run cam_example.py with grad-cam, i get following issue that self.hook_g is None, please tell me how to fix it?
![image](https://user-images.githubusercontent.com/44059900/98925919-95090480-2511-11eb-87e7-eb8b7778449d.png)

[2020-11-12 10:06] zhangpanPP opened #22 "self.hook_g is None"
When I run cam_example.py with grad-cam, i get following issue that self.hook_g is None, please tell me how to fix it?
![image](https://user-images.githubusercontent.com/44059900/98926113-d699af80-2511-11eb-8926-6adcc6d8ff3a.png)

[2020-11-12 14:00] #22 closed

[2020-11-12 14:01] frgfm commented on #22
Hi there @zhangpanPP,

Thanks for reporting that! I indeed encountered the same issue and found the root cause: using default attribute inheritance, some hook handles were cleared by other extractors, which is wrong. This issue can only be seen if you have different extractors on the same model. This should be fixed now in #23

Let me know if you still have issues!

[2020-12-18 09:04] sosoIrving opened #26 "element 0 of tensors does not require grad and does not have a grad_fn"
I get this error when I use the API.

`model = models.resnet34(pretrained=True).eval()
cam = GradCAMpp(model,'layer4')
import numpy as np
from PIL import Image
from torch.autograd import Variable

from torchvision.transforms.functional import normalize,resize,to_tensor
img_path = ''
pil_img = Image.open(img_path)
#pil_img = np.expand_dims(img_tensor,axis=0)

img_tensor = normalize(to_tensor(resize

[2020-12-19 20:11] frgfm commented on #26
Hi @sosoIrving,

Could you edit your issue description to display the error? I'm not sure whether this is a typo but the error you mentioned is not in it.

Also, I see that you use a function called `_forward` whose definition is not here. I need to be able to reproduce your error for me to be able to help :sweat_smile: Please ensure that the snippet you provide is raising the error as a standalon

[2020-12-21 19:01] lm-b commented on #26
Hi,

I had the same error based following the example code snippets in the docs. For GradCAM, this has

[code]

I'm guessing based on your comment above, @frgfm that we should just use `scores=model(input_tensor)` rather than the line `with torch.no_grad(): scores = model(input_tensor)` ?

[2020-12-22 08:12] sosoIrving commented on #26
Thank you for your reply! I tried the run code from https://frgfm.github.io/torch-cam/cams.html#grad-cam, but failed. I got this error: "element 0 of tensors does not require grad and does not have a grad_fn". Then I tried to use the code from test_cams.py.  The  _forward function is come from your code torch-cam/test/test_cams.py  . But I still got this problem.

[2020-12-23 01:27] wuliytTaotao opened #27 "conda install issue"
When I install torchcam via `conda install -c frgfm torchcam`, the verison of pytorch will be downgraded into 1.4 .

My pytorch version is 1.6.

[2020-12-23 10:35] frgfm commented on #26
Hey there!

@lm-b yes, the logic is the following: `with torch.no_grad()` is a trick used by PyTorch to avoid tracking gradient while performing operations in that context. However, for some CAM, especially the GradCAM types, they do need gradient as stated in their name. But I agree that I should add a more informative error to help the user, I'll open a PR shortly :ok_hand:

@sosoIrving oh my ba

[2020-12-23 21:07] frgfm commented on #26
I just merged the PR about the documentation, and thought about changing the error message. But actually, in my opinion, the error message is clear enough i.e. what the user is doing in the context cannot be checked here.

Thus, I could only try the `.backward` and specify the exception. But this gradient issue could come from multiple reasons, so I don't think it's wise to change the message to s

[2020-12-23 21:21] frgfm commented on #27
Hi there @wuliytTaotao :wave:

Thanks for reporting this. I actually had to put an upper bound in the conda recipe (https://github.com/frgfm/torch-cam/blob/master/.conda/meta.yaml#L22) to solve a build issue specific to conda back then.

But I'm gonna run some tests to check if I can remove this annoying constraint!

[2020-12-24 16:14] #27 closed

[2020-12-24 16:15] frgfm commented on #27
The fix was just merged on master, I'll bump a new package release on pypi & conda shortly after tackling another issue!
Thanks again for reporting this, and let me know if you encounter other problems

[2020-12-26 00:44] frgfm opened #31 "[signature] Add automatic layer name resolution"
Currently, some CAM constructor arguments require several user's inputs. While most layer name could be checked automatically by default. Automatic layer name resolution should be enabled to reduce the user's minimum inputs.

[2020-12-26 01:51] #31 closed

[2020-12-27 01:42] frgfm commented on #26
Closing this as I believe the issue is solved. Feel free to reopen if you disagree or encounter other related issues :ok_hand:

[2020-12-27 01:42] #26 closed

[2020-12-27 02:02] frgfm commented on #27
@wuliytTaotao the latest conda release was published just a few minutes ago ;)

[2020-12-27 12:22] frgfm opened #35 "[release] The __version__ attribute is not accessible in released versions"
Installing the package from pypi and trying to read the `.__version__` attribute is not currently working. Running the following command:
[code]

will yield
[code]

[2020-12-28 02:53] LuckGuySam opened #36 "Some models will calculate 'nan'"
I try your code with your example picture on resnet34 and resnet50 ,the the scoreCAM, SSCAM, ISCAM will calculate 'nan' .
can you help me to solve this problem?

I try on torch 1.5

[2020-12-29 00:52] frgfm commented on #36
Hi @LuckGuySam,

Thanks for reporting this! I just tried on my end and managed to reproduce the issue. As soon as I manage to find the source of the problem, I'll let you know!

[2020-12-29 08:45] #36 closed

[2020-12-29 08:47] frgfm commented on #36
Hey there @LuckGuySam,

The problem should be taken care of on master now :ok_hand:
I recently forced models into eval mode on the example script, which does not seem to be a good idea for Score-CAMs. I reversed the changes and added a unittest checking for NaNs on all tested CAMs!

Let me know if you encounter the problem again!

[2020-12-30 02:12] LuckGuySam commented on #36
hey bro @frgfm
I guess you forgot to update the file "./torchcam/cams/cam.py" !!

then I have a question on forced models into eval mode, I think it's necessary to eval mode because a lot still have dropout layer like VGG models. if I use the VGG models then I need to modify the forward function of architecture. it's not a good method ,right?
If my thoughts are incorrect, please let me know,thx!

[2020-12-30 09:52] frgfm commented on #36
@LuckGuySam, are you still having the error? Because I tried on my end, and the problem is solved.

So generally speaking, the problem with staying in training mode is that some layer do update some of their buffers in that mode (batch norm for instance). As you saw it yourself, switching to eval only impacts some methods (namely the ScoreCAMs).

Whenever you can, switch the model to eval mode bef

[2020-12-31 06:26] LuckGuySam commented on #36
@frgfm ,I try your new code and still happen NaN on resnet34 with SSCAM and ISCAM, then I see your code and it has NaN check just on grad-CAM, is it right? Your code "cam.py" and "gradcam.py" are have different modified time, are you updata the new "cam.py"  file?

Thank you for answer about mode choose, I think this part you are correct！！

[2021-01-01 16:58] frgfm commented on #36
@LuckGuySam I'll investigate again this weekend for resnet34, but I had no issues at all with resnet18 & resnet50 (didn't check back for resnet34 I must admit) after changing the mode forcing in the script!

Not exactly, I added a NaN check for all CAMs in the unittests. The only CAM that had NaNs consistently was gradcam, so I fixed the issue that was due to normalization.

I'm not sure what you

[2021-01-04 00:37] LuckGuySam commented on #36
@frgfm  At first , thank you for your help! I know where i made a mistake!

Second, can you give some recommendation if I happen NaN again? For some reasons, I need to test some models not on torch official, is it a good practice to simply ignore NaN to calculate?

[2021-01-04 09:03] frgfm commented on #36
@LuckGuySam you're much welcome! Don't get me wrong, I prefer github issues that leave room for fixing/improvements rather than praises haha

It strongly depends on the framework that is being used, but here is how I see things:
- in the case of pytorch, NaNs usually arise because of a division by zero (division by something that went underflow during a FP conversion, no eps in the denominator, et

[2021-03-01 02:26] FredrikM97 opened #42 "Missing explaination in example"
The suggested example below have no explaination where scores come from. I also assume that the import of `cam `is missing,

[code]

[2021-03-01 10:10] frgfm commented on #42
Hi @FredrikM97,

Good catch! I just opened a PR that will fix this, let me know if you encounter other issues :ok_hand:

[2021-03-01 13:29] #42 closed

[2021-03-02 10:59] FredrikM97 commented on #42
@frgfm Thank you very much! I did find something yesterday. I modified SSCAM to support 5D input but during the init of the weights the GPU memory usage shoot up to >18gb.This is on a singel image of size (1,79,95,79). There after I resize the image to (1,79,224,224) and this takes ~30 gb memory which seem unreasonable. I assume there is a memory leak. Either by me or that already existed. When tr

[2021-03-02 13:06] FredrikM97 commented on #36
A late note but also had this problem. It is caused by the sum() within _cam. Not sure why but I replace it with torch.nansum. I think it is is caused by an overflow and instead of returning zeroes it show us NaN.

[2021-03-02 19:59] FredrikM97 opened #44 "3D images not supported?"
Tried to use SmoothGradCAMpp, ScoreCAM and SSCAM on pytorch ResNet architecture.

**SmoothGradCAMpp complains when taking the sum on the weights:**
`RuntimeError: The size of tensor a (5) must match the size of tensor b (3) at non-singleton dimension 1`

Input:` (1, 1, 79, 190, 158)`

I printed the input and the received the following:
`"Weight.View:" torch.Size([2048, 5, 1, 1]) "Hook Squeese:" to

[2021-03-02 22:18] frgfm commented on #42
I see that you opened an issue, but a few things to keep in mind:
- what do you mean by 5D precisely? tensors of higher dimensions are naturally taking orders of magnitudes more RAM
- compared to a tensor of a RGB image (1, 3, 224, 224), your (1, 79, 224, 224) tensor only takes ~26 times more RAM. Since you forward this into a model, you can be sure that it will take a lot of memory.
- you're comp

[2021-03-02 22:24] frgfm commented on #44
Hello again @FredrikM97 :wave:

Thanks for helping to catch some bugs! Could you produce a minimal snippet to produce this error please?
I don't have a 3DResNet available so I'm not able to reproduce the error!

Also, where is the `RuntimeError` raised please?

[2021-03-02 22:38] FredrikM97 commented on #44
No worries! Thank you for quick replies!

The error occurs at line 122 in cams.py:
`batch_cams = (weights.view(*weights.shape, 1, 1) * self.hook_a.squeeze(0)).sum(0)  # type: ignore[union-attr]`
It looks like

Here is a sample of a 3D nifti image and the resnet: [3D_network.zip](https://github.com/frgfm/torch-cam/files/6072216/3D_network.zip)

To open the file:
[code]

Here is a sample of the code

[2021-03-03 02:24] FredrikM97 commented on #42
By 5D I mean: (batch, rgb, depth, hight, width). Read the paper but maybe a bit to fast.

In order to reduce the memory usage could one approach be to take one depth at the time (1,1,1,224,224) and merge them afterwards? Wanted to do at least comparison with SSCAM so still working on a solution.

[2021-03-03 12:44] frgfm commented on #42
Gotcha, let's move the discussion to the issue #44

[2021-03-03 15:37] #44 closed

[2021-03-08 11:29] FredrikM97 opened #48 "torch 1.8.0+cu111 - UserWarning for non-full backward hook"
torch: '1.8.0+cu111'
Python: 3.9

Getting the following warning:
[code]

Might be something to keep an eye for to prevent future errors? :)

[2021-03-08 12:03] frgfm commented on #48
Haha I happen to have read the full release note the day it was published and thought that I would have to update all of those :)
However, if I'm not mistaking, this is not backward compatible. So I'll wait a bit for users to mainly use pytorch >= 1.8.0

But good catch :ok_hand:

[2021-03-09 13:20] FredrikM97 commented on #48
I see! Think I read something about that as well. Maybe place an ignore for the warning/one time error? If a user update to pytorch 1.8 the log is spammed each time a CAM is called.

[2021-03-14 11:26] wwdok opened #50 "The result of ScoreCAM, SSCAM, ISCAM have no heatmap"
## 🐛 Bug
I run the cam-example.py with this image url (https://s3.ax1x.com/2021/03/14/60gHte.png) and class-idx 407, but the result shows no heatmap on ScoreCAM, SSCAM, ISCAM :
![image](https://user-images.githubusercontent.com/43233772/111066469-345afa00-84fa-11eb-9cf1-58a88462caf3.png)

## Environment

Please describe your environement so that the bug can be easily reproduced:

 - Torchcam Versi

[2021-03-14 12:51] FredrikM97 commented on #48
Sure! I can take a look into it when I have some free time :)

[2021-03-14 13:49] frgfm commented on #50
Hello there @wwdok :wave:

Thank you for reporting this!
The issue about the ScoreCAM family was fixed on master in #37, but I haven't made a release on pypi since then! My suggestion is to simply clone the repo and `pip install -e . --upgrade` to use the latest version :ok_hand:
On my hand, from the master branch, here is the output for a shorter selection of CAMs:
![master_render](https://user-i

[2021-03-14 14:19] wwdok commented on #50
Perfect, you completely clear up my questions !

[2021-03-14 14:19] #50 closed

[2021-03-15 20:31] frgfm commented on #35
This issue seems to have been corrected in one of the previous commits, as I am unable to reproduce it

[2021-03-15 20:31] #35 closed

[2021-03-16 08:29] MercuialC opened #57 "package conflicts"
When I use pytorch 1.6, there are a lot of package conflicts when installing torchcam, how can I solve it?
Thank u.

[2021-03-16 08:31] frgfm commented on #57
Hi @MercuialC,

I might have to increase the pytorch version constraints on the package. Could you be more specific please? I cannot do much without more information :sweat_smile:

How did you install torchcam? What are the conflicts? etc. (cf. the bug report template)

[2021-03-16 08:43] MercuialC commented on #57
thank you for your reply
I installed torchcam via conda
When I run the example, torchvision can't find it, and ImportError: DLL load failed:
I tried to install the 1.6.0 version of pytorch through the command: conda install pytorch==1.6.0 torchvision==0.7.0 -c pytorch
Some error messages are as follows：
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-

[2021-03-16 10:23] frgfm commented on #57
What do you mean by this?

Regarding the conflict issue, have you tried to install pytorch or torchvision using conda recently?
Because as you can see [here](https://github.com/frgfm/torch-cam/blob/master/setup.py#L43-L46), the requirements for torchcam are pretty loose. The conflicts look like they are referring to your python version and pytorch/torchvision dependencies.

[2021-03-24 00:05] #48 closed

[2021-04-13 06:11] sunyue11 opened #65 "How can I use cam to train my model?"
## 🚀 Feature

In the cam_example.py file, the cam only be used as visualization. So how can I use the cam to train my model to get the discriminative part in image just like  "Learning Deep Features for Discriminative Localization" says.

[2021-04-13 13:14] frgfm commented on #65
Hi @sunyue11 :wave:

Could you be more specific? I'm not sure I understand your question:
- in the paper, they present the method which is implemented in this library, that takes a pretrained classification model and produces the CAM, which can, in turn, be considered as a localization cue.
- so to the best of my understanding, the author is not suggesting using CAMs to train a model. You have to

[2021-04-13 14:26] sunyue11 commented on #65
Thank you so much for your reply! Actually you have answered my question!!

[2021-04-13 14:27] #65 closed

[2021-04-22 13:15] sayakpaul opened #68 "Getting the CAM for BiT"
Hi.

I am trying to get CAM for a particular variant of the BiT (Big Transfer) family of ResNets. I think I am providing the the `target_layer` name correctly however I am unable to make it work.

Here's how the last portion of the model looks like:

[code]

Here's the error I am getting:

[code]

The main code:

[code]

[Here's the Colab Notebook](https://colab.research.google.com/gist/sayakpaul/

[2021-04-22 17:47] frgfm commented on #68
Hi @sayakpaul :wave:

There are two things to consider:
1. simply put, the `fc_layer` in your model is not named "fc" in your model state_dict but "head.fc". So that's the easy fix :)
2. In the last release, I actually added an automatic layer name resolution both for the `target_layer` (which you are using since you didn't pass a value), but also for the `fc_layer` (so if you don't specify it, it

[2021-04-23 01:53] sayakpaul commented on #68
Thank you for your reply. I will update the comment after I have had a chance to review it.

[2021-04-23 09:21] sayakpaul commented on #68
I followed the first suggestion but the activation map that comes out is not suitable for plotting. Here's the [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/2f8300154f613fe1d956ca3e679c28e6/scratchpad.ipynb).

Once this is worked out I can submit a PR making a fully runnable Colab Notebook including the implementation algorithms that might make it easier for folks to try out th

[2021-04-23 10:22] frgfm commented on #68
I'll investigate, the tricky part here is that there is no FC in the model but a final conv1x1 layer!
And the base CAM method requires a FC, I'll try to make it compatible

[2021-04-23 10:50] sayakpaul commented on #68
Thank you so much!

[2021-04-23 11:16] #68 closed

[2021-04-23 11:17] frgfm commented on #68
@sayakpaul if you try again with "head.fc", it should work now ;)

[2021-04-23 11:31] sayakpaul commented on #68
Just tried it out but the issue still persists. You can verify this with the Colab Notebook as noted here: https://github.com/frgfm/torch-cam/issues/68#issuecomment-825525591.

[2021-04-23 12:42] frgfm commented on #68
But in order to try this, you need to install the project from source (I don't release & publish to pypi every commit :))
Try replacing:
[code]
by
[code]

Hope this helps!

[2021-04-24 01:43] sayakpaul commented on #68
Works like a charm now.

Could you update here in this thread when you have a chance to release a new version? I would be happy to work on the following:

[2021-04-24 09:50] frgfm commented on #68
@sayakpaul I'll try!
But feel free to open a PR at anytime :ok_hand: (do you mean the notebook to be showcasing how to use timm? or is the purpose different?)

[2021-04-24 10:36] sayakpaul commented on #68
No no. I want to work on a Colab Notebook to make it easier for folks to get started with `torch-cam` and the algorithms it implements. The Colab Notebook would essentially be what I am currently doing inside the notebook (will include `torchvision` models to reduce the dependency cycle) but with different algorithms that `torch-cam` provides off-the-shelf.

Let me know if anything is unclear.

[2021-04-26 10:22] frgfm commented on #57
Any update @MercuialC ?

[2021-05-15 08:05] mchelali opened #71 "Problem to get CAM with SqueezeNet"
Hi,

I try to get CAM with SqueezeNet.  But this model have a classifier composed with a convolution layer followed by a global average pooling one that replace the FC one.

The used code is
[code]
Now the problem is on the shape of the obtained activation map ```saillancy_map``` which is ```torch.Size([1, 512, 13, 13])```.

Need some help to solve this.

[2021-05-17 10:13] frgfm commented on #71
Hello there :wave:

Would you mind specifying how you installed `torchcam`? My best guess is that you installed the latest release via pip, which doesn't support CAM without FC layers, but following #69, this has been improved!

So if you do the following:
[code]
so get the last updates from the master branch, the following code

[code]
yields
[code]

Let me know if that helps!

[2021-05-24 07:23] #71 closed

[2021-05-31 07:31] akshay-gupta123 opened #72 "Autograd Warning"
## 🐛 Bug
When I am integrating densenet121 with torchcam I am getting following warning, which I am not getting while using the model diectly.

` usr/local/lib/python3.7/dist-packages/torch/nn/functional.py:1204: UserWarning: Output 0 of BackwardHookFunctionBackward is a view and is being modified inplace. This view was created inside a custom Function (or because an input was returned as-is) and

[2021-05-31 13:20] frgfm commented on #72
Hello @akshay-gupta123 :wave:

Thanks for reporting this! This is indeed a strange behaviour, which seems linked to the core autograd mechanism of PyTorch. I tried a few things quickly this morning to solve this but didn't succeed.

I'll investigate, but this is most likely due to some specific ops conducted in the densenet architecture (this issue isn't happening on resnet)

[2021-05-31 13:47] frgfm commented on #72
Quick update: I made a few tests on my own, I believe this is due to the inplace ReLU in densenet over here https://github.com/pytorch/vision/blob/master/torchvision/models/densenet.py#L217

[2021-05-31 15:52] akshay-gupta123 commented on #72
Ya it's working fine for resnet, but same warning occurs with squeezenet1_0. May be it's due to some architecture ops in torchvision models.

[2021-07-05 14:20] Zengyf-CVer opened #75 "Application In Object Detection"
@frgfm
Hello, I am using your CAM program for the first time. I would like to ask, is this program suitable for object detection?
For example, I now use yolov5 to train a model, and then want to use your CAM program to export the heatmap of the detected image. Is this feasible? Although I slightly know that CAM is aimed at classification problems, the detection also includes classification.

[2021-07-11 17:42] frgfm commented on #57
Hi @MercuialC :wave:

Apart from if you have new details about this issue, I doubt this is due to this repo considering the very loose requirements. I'm closing this issue for now, feel free to reopen if there is something new coming up!

[2021-07-11 17:42] #57 closed

[2021-07-11 18:15] frgfm commented on #72
Hi @akshay-gupta123,

I didn't forget the problem, and now it's not only throwing a warning but an error in recent pytorch versions. I opened an issue on their repo trying to make sense of this which seems to be an issue with backward hooks!

[2021-07-11 20:52] frgfm commented on #75
Hi @Zengyf-CVer :wave:

So by default, it's not possible. Simply put, this repo leverages module hooks to easily manipulate what it needs to compute the CAMs. Most object detection models have various return & input types, which makes it hard to handle.

So having something to work for all object detection models is really tricky. I'll try to think about how to modify them. However, by modifying p

[2021-07-12 07:19] PengtaoJiang opened #76 "Any interest to suppport LayerCAM"
Hello, @frgfm,
Our paper "LayerCAM: Exploring Hierarchical Class Activation Maps for Localization" is accepted by TIP recently, which can visualize the class activation maps from any cnn layer of an off-the-shelf network. Could you add our method to your popular repository for more people to try this method? Our method is a simple modification of Grad-CAM. It should easy to implement. Here is the

[2021-07-12 11:21] frgfm commented on #76
Hi @PengtaoJiang :wave:

Thanks for reaching out! Sure I'll take a look, do you have a comparison with CAM methods more recent than GradCAM++?
The most recent papers I've implemented had comparisons with SmoothGradCAM++ and ScoreCAM for instance :ok_hand:

[2021-07-12 13:36] frgfm commented on #76
Hey again @PengtaoJiang !

For a clean integration, I'll proceed in two PRs:
- [x] one to integrate LayerCAM without stage fusion (#77)
- [ ] another to add layer fusion

The first one is already merged, I'll think about how to properly integrate stage fusion :+1:

[2021-07-13 02:13] PengtaoJiang commented on #76
Hi, @frgfm ,
I just use a simple element-wise maximum fusion to combine cam from multiple layers. Additionally, could you please note that for those layers that are followed by a layer (max pooling in vgg or conv with stride > 1 in resnet), the cam visualizations usually have grid effect. This issue comes from the gradient backward.
I usually choose the nearby layers for visualization. For example

[2021-07-13 08:50] frgfm commented on #76
Hey again @PengtaoJiang :wave:

Regarding the stage fusion, how to actually perform it isn't an issue. My current design only allows a single target_layer for the CAMs, with the corresponding hooking scheme. I'll just need to find an elegant and robust way to specify several target layers and that the hooks do report to correct information.

One question though since I cannot find the answer in th

[2021-07-14 03:49] akshay-gupta123 commented on #72
Hi @frgfm
Thanks for update. I made a forum in this regard about a month ago but sadly doesn't gets anybody's attention.

[2021-07-20 09:06] SevenFoldDeep opened #79 "Allowing for batch processing/multi-processing"
## 🚀 Feature
Currently when I use this package, I can only feed a single image through the network at a time in order to process a CAM. However, it would be greatly beneficial to me if I could pass an entire batch of images through the network and obtain a batch of CAMs. This would greatly speed up my processing time, as I am using the CAMs as supervision for a segmentation branch, and at the mome

[2021-07-27 21:35] frgfm commented on #79
Hi @SevenFoldDeep :wave:

Thanks for the suggestion! Just to make sure, you are referring to generate a batch of CAMs with the same output class index?

[2021-07-28 17:44] wizlee commented on #72
Hi @frgfm ,
Is there any workaround while you are working on the fix? Maybe something like another branch with the fix where I can install from source?

[2021-07-28 22:11] frgfm commented on #72
Hi @wizlee :wave:

If you're talking about in-place activation modules in general, yes there is: switching their `inplace` attribute to False.
So this would work
[code]

But more specifically for densenet121, the issue is that this isn't a module but the functional form. So either override the forward or convert it to a sequential
[code]

Let me know if that helps :+1:

[2021-07-28 23:33] #72 closed

[2021-07-28 23:33] frgfm commented on #72
Actually, I ended up digging a bit some tricks that were suggested to me and got it working. The PR is now merged in the master branch @wizlee @akshay-gupta123 :raised_hands:

Feel free to reopen if you still encounter this issue!

[2021-07-29 15:23] wizlee commented on #72
Thanks @frgfm! Will try out the latest. Glad that you perform the fix promptly as the only modification to model I did is to replace the output layer for fine-tuning. So there's a high chance that I will face stumbling blocks when trying your previous workaround 😉

[2021-08-05 11:41] SevenFoldDeep commented on #79
Hey, thanks for the response.

I thought it would be nice to be able to pass a batch of images to the network, and from the resulting output, get the CAMs for each of the images in the batch, regardless of the output class index. I guess the class indices could be given as a list or tensor such that each element in the list corresponds to one image in the batch.

Here is a code snippet of how that

[2021-08-05 18:25] frgfm commented on #79
Thanks for the detailed explanation!

So there are two things to consider here:
- processing a whole batch and computing the CAM of all samples for a single class index: this part is doable and indeed much better than going through all samples manually
- doing the same but with a specific class index for each sample: this part doesn't sound very doable to me. I mean, I can modify the API to do thi

[2021-08-18 14:48] FrancescoSaverioZuppichini opened #81 "Make target_layer also a `nn.Module`"
## 🚀 Feature
Hello there,

I would like to pass an `nn.Module` instance to any `*Cam` constructor but currently, I can only use 'str'.

## Motivation
Well, if your model has a good design it is much easier to pass a reference than the key.

Thanks!

Francesco

[2021-08-23 18:08] frgfm commented on #81
Hi @FrancescoSaverioZuppichini :wave:

Thanks for the suggestion! I thought about it a while ago, but couldn't really see cases where it's better on the user-side than passing the string :thinking:

Currently
[code]
and with your suggestion
[code]

I agree that passing a reference rather than a string we'll get a reference from later on is cleaner from the programming point of view but I can see a

[2021-09-02 15:08] frgfm commented on #81
Being a python perfectionist, I obviously agree with you that passing a ref is better than a string :ok_hand:

However here there are a few things to consider:
- the string constraint makes it mandatory for a user to target a layer inside the model you observe. If you pass a reference, it's gonna be quite tricky to check for errors (if that person passes a model, and a reference to a layer of anot

[2021-09-05 11:46] FrancescoSaverioZuppichini commented on #81
Hey @frgfm , thank you for your reply and the amazing discussion :) I love your enthusiasm!

- I agree but python is not typed, a user can pass everything so yeah I don't know :)
- Got it
- This is my fault, I wasn't clear. So about collisions, you are correct!

But I was thinking, if you pass a string then you need to trace the module to find it, would it be more convenient to pass a reference?

[2021-09-21 13:05] frgfm commented on #81
My apologies Francesco, I've been quite busy with other projects lately!

I'm not sure I follow the reasoning about wasted computation? :sweat_smile:
Currently, there are two cases:

1. A value for target_layer is provided: the layer is retrieved in O(1) complexity since it's just accessing the naming dictionary
2. No value is provided: one forward is "wasted" to retrieve the best candidate layer

[2021-10-14 10:37] frgfm commented on #79
@SevenFoldDeep any thoughts? :)

[2021-10-14 10:48] frgfm commented on #75
Hi @Zengyf-CVer,
Moving this to a discussion as it sounds more appropriate for this topic :+1:
Let me know if you have some feedback on my previous message :point_up:

[2021-10-31 12:07] frgfm commented on #76
FYI @PengtaoJiang, I added speed benchmark and a Colab tutorial including CAM fusion with LayerCAM if you're interested: https://github.com/frgfm/notebooks/blob/main/torch-cam/quicktour.ipynb

[2021-10-31 15:33] frgfm commented on #72
The release is out :balloon:
Bunch of new features, everything is detailed in the release note: https://github.com/frgfm/torch-cam/releases/tag/v0.3.0

[2021-11-02 12:04] frgfm commented on #76
Another update @PengtaoJiang : I updated the demo in #105 so that you can retrieve CAMs from multiple layers at once and fuse them automatically. You only have to use the plus sign "+" between each layer name (e.g. "layer2+layer3+layer4")

You can find the deployed version over here :point_right: https://huggingface.co/spaces/frgfm/torch-cam
(select LayerCAM as CAM method, enter the layers' names

[2021-11-22 07:30] ldlshizhu opened #116 "model file is .h5or.pth"
### 🚀 Feature

My model file is 'XXXX.h5' or 'XXX.pth',can I use your project to visualize the feature map?
thank you very much~

### Motivation & pitch

ohh

### Alternatives

_No response_

### Additional context

_No response_

[2021-11-22 22:37] #116 closed

[2021-12-06 08:19] fsted opened #119 "Why is the output different every time"
hi,this code is great,but i meet a Strange appearance
I set the model to eval and then use the example  given, but I find that the output of the same photo is different every time.
how can i do it , thanks :)

[2021-12-06 08:39] fsted commented on #119
Just now I loaded my own weight file. Later,  now I let pre trained = true. After changing to the official weight file, the output was stable. What a strange thing...

[2021-12-06 10:09] frgfm commented on #119
Hi @fsted :wave:

It's quite hard for me to answer this without any code snippet :sweat_smile: Mind sharing a bit more information for me to reproduce this behaviour?

My guess would be that you're using a CAM method that involves a noisy process (`SSCAM` & `SmoothGradCAMpp` involve random variable sampling for the CAM computation for instance) :point_up:

[2021-12-12 12:27] noobgrow opened #123 "evaluation code"
Sir, can you provide the other evaluation code like Average Drop/Incr. in Confidence/Insertion /Deletion ?Thanks a lot!

[2021-12-12 16:02] frgfm commented on #123
Closing this, and moving the discussion to #122

[2021-12-12 16:02] #123 closed

[2021-12-16 08:30] fsted commented on #119
Thanks, I found the reason,It's indeed SSCAM...

[2021-12-16 08:30] #119 closed

[2021-12-17 14:38] FrancescoSaverioZuppichini commented on #81
hey @frgfm , what's up! Recently PyTorch releases a [new way](https://pytorch.org/blog/FX-feature-extraction-torchvision/#:~:text=FX%20based%20feature%20extraction%20is,node%20represents%20a%20single%20operation.) to extract features. I was thinking you may find it interesting :)

[2021-12-21 13:51] sugatoray opened #124 "Include `requirements.txt` in the source"
### Bug description

The file `requirements.txt` (*reqfile*) is missing from the source, although `setup.py:install_requires` depends on `requirements.txt`. Without the *reqfile*, it is not possible to install `torchcam` from the source.

## How to fix it?

Include `requirements.txt` in the `MANIFEST.in` file and publish again on PyPI.

![image](https://user-images.githubusercontent.com/10201242/1

[2021-12-21 13:55] sugatoray commented on #124
My apologies. You have `install_requires` hardcoded in `setup.py`. This PR should be closed.

[2021-12-21 13:55] #124 closed

[2021-12-21 13:59] sugatoray opened #125 "Add a `conda` install option for `torchcam`"
### 🚀 Feature

A conda install option could be very helpful. Preferably, if it is on `conda-forge` channel. I have already started the work (PR: https://github.com/conda-forge/staged-recipes/pull/17307). Once the PR is merged, you will be able to install `torchcam` as:

[code]

[2021-12-21 14:02] sugatoray commented on #125
**Note:**

At present there is an option to install `torchcam` using conda (but it NOT on `conda-forge` channel).

- https://anaconda.org/frgfm/torchcam

[code]

[2021-12-21 14:03] frgfm commented on #125
Hi @sugatoray :wave:

As you mentioned, there is already an option to install from my personal anaconda cloud channel. I must admit I don't really see the need of having it in conda-forge?

For complex environments with multiple packages, you always add several conda channels anyway :man_shrugging:

[2021-12-21 14:10] sugatoray commented on #125
Hi @frgfm,

If you add another library to `conda-forge`, which uses `torchcam` as a dependency, then it will be necessary to create a complete package on conda-forge. This is why, even though pytorch is maintained on `pytorch` channel, it also exists on `conda-forge` channel.

So, adding `torchcam` to conda-forge will pave way for downstream applications/libraries to get onboarded on `conda-forge`

[2021-12-23 17:12] AnjanaSamindraPerera opened #126 "Issue when visualizing with xception network"
### Bug description

I have a varient of xception model which has only 2 classes in final layer. When I use this library with the model it only works with CAM and not with other activation map models.

### Code snippet to reproduce the bug

This is the network i use [link](https://github.com/HongguLiu/Deepfake-Detection/tree/master/network) . Similar error can be seen in some models in [Hugging Fa

[2021-12-23 18:52] sugatoray commented on #125
## Update :sparkles: :rocket:

The PR was just merged and `torchcam` is now available on `conda-forge`. Please give it 2-3 hours before it becomes downloadable.

cc: @frgfm

![image](https://user-images.githubusercontent.com/10201242/147281198-dcb2b2cf-9159-4f12-af5c-7f4923e80360.png)

[2021-12-24 11:53] frgfm commented on #126
Hello @AnjanaSamindraPerera :wave:

Thanks for reporting this, the answer is rather simple:
- the base CAM method is the oldest one and the most containing: it only works with models that have global average pooling, and a single fully connected (or conv1x1) layer for the classification.
- MobileNetV3 has 2 fully connected layers in its classification head, so it cannot work

I suggest checking ot

[2021-12-24 13:13] #126 closed

[2021-12-25 11:52] Ljiaqii opened #128 "Problem about 3D image visualization"
### 🚀 Feature

Hi! I'm doing visual display for my program which is a 3D cube. Now I meet a problem.
When I was debugging the program, I found that the values of the activation map were all 'nan'.
My cube size is 32 × 32 × 32 （z, y, x）pixel data and the type of 3D cube is. NPY type. How to change the activation map in line 210 ---'activation_map = cam_extractor(out.squeeze(0).argmax().item(), out)

[2021-12-29 01:31] frgfm commented on #128
Hi @Ljiaqii :wave:

Thanks for reporting this! However I believe you used the feature proposal issue template rather than the bug template which seems more appropriate in your case :sweat_smile:

There are a few things at hand here, but I believe you first need to identify why you get NaN values. If your model itself produced the NaN, this is completely out of the scope of this project. If on the

[2022-01-06 00:33] frgfm commented on #81
Hi @FrancescoSaverioZuppichini :wave:

Sorry about the late reply! Yup, I saw that in the previous release notes, and wanted to try it out. I'll see if that can help this project :+1:

[2022-01-18 09:05] Ljiaqii commented on #128
Oh sorry I haven't been replying to you timely!

We've discussed it in discussions, thank you for your help recently! Best regards!

[2022-01-18 09:05] #128 closed

[2022-01-22 14:20] Yung-zi opened #133 "Vision Transformer"
### 🚀 Feature

I am appreciated for your great job! However, I have a question. Can Layer-CAM be used with Vision Transformer Network? If it does work, what aspects should I change?

### Motivation & pitch

I'm working on the job related to CAM.

### Alternatives

_No response_

### Additional context

_No response_

[2022-02-01 23:46] frgfm commented on #133
Hello @Yung-zi :wave:

My apologies, I've been busy with other projects lately!
As of right now, the library is designed to work with CNNs. However, the way it was designed basically only relies on forward activation and backpropagated gradient hooks. So to answer your question, I'd need to run some tests but if the output activation of a given layer is of shape (N, C, H, W), whatever the way it w

[2022-02-04 18:59] frgfm commented on #125
I forgot to answer, but thank you for your hard work @sugatoray :pray:

[2022-02-04 18:59] #125 closed

[2022-02-06 11:32] frgfm opened #136 "Release tracker - v0.4.0"
This issue is to be used to track the roadmap of TorchCAM for release v0.4.0, and collect feedback from users & contributors.

**Methods**
- [ ] #133
- [ ] Investigate whether the new PyTorch FX could be used instead of hooks (cf. https://pytorch.org/blog/FX-feature-extraction-torchvision)
- [x] #139
- [x] #174
- [ ] #178
- [x] #197

**Scripts**
- [x] #140

**Demo**
- [ ] #177

[2022-02-06 22:16] frgfm opened #139 "Add support for batch processing"
Following up on #79 & #90, the CAM methods should be able to process batches. With the way they are computed, here is the proposal to handle two cases:
- if the model got an input_tensor with batch size = 1, then the CAM extractor can only be passed either a single integer (class index) or a list of class indices of length 1.
- if the model gets a tensor with batch_size = N, then:
    - if the CAM

[2022-02-06 22:19] frgfm opened #140 "Add a script for performance evaluation"
As discussed in #122, CAM methods are usually compared using a few metrics including:
- Average Drop
- Increase in Confidence

Those metrics require an image classification dataset, Imagenette could be used for the first version :ok_hand:

[2022-02-06 22:26] frgfm opened #141 "Fix the implementation of ScoreCAM methods"
There are a few subtle differences between paper and the implementations in this repo. Some need to be fixed as they do not reflect any voluntary improvement upon the author's original idea:
- in ScoreCAM, SS-CAM & IS-CAM, the softmax needs to be applied along the channel dimension at the final step https://github.com/frgfm/torch-cam/blob/master/torchcam/methods/activation.py#L170
- in SS-CAM & IS

[2022-02-06 22:27] frgfm opened #142 "Release tracker - v0.3.2"
This issue is to be used to track the roadmap of TorchCAM for release v0.3.2, and collect feedback from users & contributors.

- Methods
    - [x] #141

- Build-related
    - [x] #148
    - [x] #159

- Documentation
    - [x] #155
    - [x] #160

[2022-02-06 23:06] #139 closed

[2022-02-06 23:06] #141 closed

[2022-03-28 02:49] icedpanda opened #151 "Multi-Inputs CAM support"
### 🚀 Feature

Hi,  thanks for this great toolbox.

I am wondering how to get CAM for multiple input cases. Currently, I found that the CAM I am getting is from the last input.

The model which I want to check takes 3 images as a single input and then concatenates or stack the feature maps for the final FC layer to make a multi-label classification.

Would it be possible to generate 3 CAMs for eac

[2022-03-31 12:41] ChordXy opened #152 "ScoreCAM, SSCAM,ISCAM failed when feeding this image"
### Bug description

When trying the example with torchcam v0.3.2dev0, the command is
python scripts/cam_example.py --arch resnet18 --class-idx 232 --img ./elephant.jpg --method ScoreCAM
The ScoreCAM seems to crash with no outputs.

![elephant](https://user-images.githubusercontent.com/38504782/161056615-645843a0-d219-4d5f-8dcf-ff6925e7bdaa.jpg)

By the way, when trying this command, it shows "WAR

[2022-04-02 04:43] frgfm commented on #151
Hello @icedpanda 👋

Interesting use case! I'm missing some information to have a full understanding of the situation but let's try to help you 👍

I assume the input to your model is a single input tensor, either of shape:
- (N, C, H, W) where your model uses the batch dimension to stack your 3 image and generate an output of shape (K,)
- or (N, C, T, H, W) where the stack dimension is of size T, a

[2022-04-02 04:52] frgfm commented on #152
Hi @ChordXy 👋

Thanks for reporting this! Two thoughts / questions:
- if you got the visualisation, I doubt it has crashed. But it's possible that for this class index, the activation is almost uniform (and very very low). This could be possible if you passed a wrong class index
- you closed the issue so I assume you found the source of the problem. would you mind sharing it here as well please? 🙏

[2022-04-02 05:05] ChordXy commented on #152
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

        I just test this and I find that the problem is caused by the version of PyTorch!
        I have 2 devices. The code runs perfectly on my PC with torch==1.9.1 while it fails on my server with torch==1.10.2So I guess maybe the upgrade of torch version modifies some realiz

[2022-04-04 05:29] icedpanda commented on #151
Hi @frgfm,

Thanks for the quick replay.

Currently, the shape of my input images is `batch x views x channels x height x width`, where `views` refers to different images.

The model would loop each view to generate embeddings and concatenates to a fully-connected layer.

Here is a sample code of my model

[code]
Could you please provide the sample code for displaying the heatmaps in this case?

T

[2022-04-05 14:38] liuyx599 opened #153 "VGG16 can't assist with plain CAM?"
### Bug description

hi~
I followed your Quick Tour, and I chose the **plain CAM**  and **VGG16**, but an error occured

Only the line 6 and lin 7 are different from you Quick Tour

But When I chose **plain CAM** with **Resnet18**， it went well

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

I run it in jupyter as the same as you Quick Tour

[2022-04-05 22:06] frgfm commented on #153
Hello @liuyx599 👋

Yes, so plain CAMs were the first iterations and only work with models that have global average pooling and a single fully connected layer 👌

It's the fastest method but the most constraining one as well 😅

The result is inferior to other CAM methods so I'd suggest switching to another if you are using a VGG 🙂

You can refer to the initial paper for more details or let me know i

[2022-04-06 07:56] liuyx599 commented on #153
ooook, I get it!  thank u very much and wish u a happy life!

[2022-04-06 16:34] #153 closed

[2022-04-06 17:19] frgfm commented on #151
According to your snippet, I think it's better to flatten both the batch and view dimensions to get proper acceleration 👍
You'll be able to unflatten those once the model has processed them

About your visualization, it's not exactly easy with this amount of information 😅
From your snippet the model processes your views as batches so in a completely independent way. Perhaps those are combined toge

[2022-04-20 06:51] icedpanda commented on #151
I have a fully connected layer that will fuse these feature vectors and feed them to the classifier head

the architecture would looks like this

[code]

[2022-04-20 16:37] frgfm commented on #151
So a few things:
- for the sake of proper interpretation of the backdrop, the first dimension of a tensor, should be the independent one (meaning that for the upcoming computation, the outputs are strictly independent with other inputs)
- keeping that in mind, you could build your features by flattening the batch and views axes before forwarding 👌
- if your condition is True, you concatenate it wi

[2022-04-22 03:43] noobgrow opened #154 "IS-CAM formula error?"
### 🚀 Feature

https://frgfm.github.io/torch-cam/methods.html#activation-based-methods

Mk /ak formula of ISCAM in  the link above is not the same as the original paper.
And I wonder if there is an original implement of ISCAM? Because  I find that alpha calculated in paper is sumed by N time. But in your code  it is sumed by k time.

### Motivation & pitch

.

### Alternatives

_No response_

###

[2022-04-22 03:51] frgfm commented on #154
Hi @noobgrow 👋

Thanks for reporting this! So actually, the author reached out to me before the paper even came out to experiment with it. He validated the implementation back then, so I didn't question whether there would be some difference with the upcoming paper 😅

So let me check the difference you're talking about and get back to you 🙂

Cheers ✌️

[2022-04-23 12:38] noobgrow commented on #154
OK! thanks for your fantastic work! Waiting for you @frgfm ^.^

[2022-04-24 10:46] anassnouri opened #155 "Error when clearing hooks"
### Bug description

Dear fellow,
When I execute the following line :
`# Once you're finished, clear the hooks on your model

cam_extractor.clear_hooks()
 `
I'm getting this error :
`---------------------------------------------------------------------------

AttributeError                            Traceback (most recent call last)

[<ipython-input-27-2ab50d31c982>](https://localhost:8080/#) in

[2022-04-24 14:58] noobgrow opened #156 "self._normalize() got NAN..."
### Bug description

Sir, when I print  upsampled_a in ` upsampled_a = self._normalize(self.hook_a, self.hook_a.ndim - 2)`
I got NAN in some value. Is there any bug?

I set model to vgg19     target_layer1='features.35'    fc_layer1='classifier.6'

### Code snippet to reproduce the bug

nan

### Error traceback

nan

### Environment

nan

[2022-04-25 00:46] frgfm commented on #155
Hi @anassnouri 👋

Thanks for reporting this! So the method has been renamed to "remove_hooks" so that its purpose is more explicit 👍

However all the documentation and notebooks should indicate it! Did you see this instruction in the tutorial notebooks? 🙂

Cheers ✌️

[2022-04-25 01:03] frgfm commented on #156
Hi @noobgrow 👋

Thanks for opening the issue but would you mind filling the issue template properly please? 😅

This is not a fully runnable code snippet and you didn't specify your environnement :/ it's much easier for maintainers to help you efficiently with those information!

Cheers ✌️

[2022-04-25 05:10] noobgrow commented on #156
Bug description
Sir, when I print upsampled_a in upsampled_a = self._normalize(self.hook_a, self.hook_a.ndim - 2)
I got NAN in some value. Is there any bug?

I set model to vgg19 target_layer1='features.35' fc_layer1='classifier.6'

Code snippet to reproduce the bug
`    args.model='vgg19'
    target_layer1='features.35'
    fc_layer1='classifier.6'
    # Pretrained imagenet model
    model = mode

[2022-04-26 00:58] edwardcho opened #157 "What is class_idx in __call__() ??"
Hello sir,
I want to display heat-map for my classification task.
So i found your library.
What is class_idx of __call__()??
(I think that it is class index of top-1)

And,
Using my datasets,
I met nan.
In compute_cam() of core.py
My result of torch.nansum has all < 0.
Then F.relu return all 0.
So, in normalization, it return nan.

Is this nornal??
If not, what should i change in my data??

Thanks

[2022-04-26 17:13] #155 closed

[2022-04-26 23:18] frgfm commented on #157
Hi there 👋

a CAM is relative to the class output of the model, not necessarily the top 1. So this arg needs to be an integer in the range of (0, N - 1) where N is the number of output classes ;)

Regarding your error, I would need a minimal runnable snippet to reproduce as I'm not sure what you mean here :/ For issues, it's better to fill the bug report template next time please 🙏

Cheers ✌️

[2022-04-26 23:26] frgfm commented on #156
Alright, so you used the example script, correct?

VGG architectures cannot work with base CAM for instance, they do not have global average pooling layers, and have multiple consecutive linear layers. That being said, it looks like you selected
[code]

Now, `_normalize` is only used in the call method of a CAM extractor, not in the constructor. The snippet that you provided is thus incomplete. Co

[2022-04-27 00:20] frgfm commented on #154
So, this is going to be annoying without LaTex for math rendering, but let's try 😅
In the paper:
[code]

In the code, `X_0 * A_l^k` is stored as `scored_inputs` (cf. https://github.com/frgfm/torch-cam/blob/master/torchcam/methods/activation.py#L411-L414)
and `\frac{i * (i - 1)}{2N}` is stored as `_coeff` (cf. https://github.com/frgfm/torch-cam/blob/master/torchcam/methods/activation.py#L430)

So t

[2022-04-27 00:35] edwardcho commented on #157
Hello sir.
As you know, the CAM is for checking of decision of deep learning tasks, i think.
So i want to use evidence of top-1 on classification task.
If so, class-idx should be class index of top-1. Right??

Thanks,
Edward cho

[2022-04-27 00:48] frgfm commented on #157
As mentioned above, yes you can!

However regarding your error, I'll need a runnable snippet to reproduce this behaviour 🙏

[2022-05-16 23:03] frgfm commented on #151
Any update @icedpanda ? Did you manage to make it work? :)

[2022-05-16 23:05] frgfm commented on #154
Closing this as the docstring has been fixed and the rest of the explanations have been detailed! Feel free to reopen @noobgrow if that's not the case :)

[2022-05-16 23:05] #154 closed

[2022-05-16 23:06] frgfm commented on #156
Any update @noobgrow ? 🙏

[2022-05-16 23:06] frgfm commented on #157
Any update @edwardcho ? :)

[2022-05-27 04:06] icedpanda commented on #151
Thanks for your help, but I haven't had time to try it yet since we are using different networks to handle different views now. So, it becomes a single input for each network that CAM already supports.

[2022-05-27 04:06] #151 closed

[2022-07-08 08:49] Yung-zi commented on #133
I am so sorry for late reply. I tried to change your code before. However, the effect looked not well maybe I made some mistakes. Have you ever made it on  Vision transformer?

[2022-07-11 06:55] long123524 opened #171 "What are the requirements of the model by using these visual code?"
### Bug description

![image](https://user-images.githubusercontent.com/73996375/178204623-e411b303-a57f-46df-893f-c00544f09055.png)

I have got a error, we failed to use these method to obtain a results. I have got  4D matrix, but it needs to be 2D. My model have not a fully connected layer，while consists of many convolution layers.  Should I how to deal with this problem? Thank you

### Code sni

[2022-07-12 23:29] frgfm commented on #171
Hello @long123524 :wave:

Sorry about this! But I'll need more information for understandable reasons :sweat_smile:
Your snippet is not runnable, could you share a minimal snippet (including imports) that would reproduce this bug please?

According to your console output , it looks like you used a UNet. Are you tried to get the CAM of a segmentation model? :thinking:

[2022-07-13 03:53] long123524 commented on #171
You are right. I use a encoder-decoder architecture segmentation model, like UNet. Should I how to obtain a cam? Looking forward to your reply.

[2022-07-13 23:04] frgfm commented on #171
Alright, so this is a much wider discussion then!

I suggest checking https://github.com/frgfm/torch-cam/discussions/150 :)
CAMs were designed to provide spatial influence at a given layer about a scalar output:
- this scalar output can be the probability of a given class of a multi-class classification model, a binary classification model output, a video classification model. We want a single cha

[2022-07-15 03:37] long123524 commented on #171
I have the same problem as https://github.com/frgfm/torch-cam/discussions/150. The aim of our work to obtain a CAM of semantic segmentation model, like UNet. However, I fails to get it.

[2022-07-15 15:46] frgfm commented on #171
@long123524 the whole point of #150 is about the relevance of CAM for semantic segmentation

Again, there is no definition for that :sweat_smile:
So could you elaborate on "obtain a CAM of semantic segmentation model" please? :pray:

[2022-07-28 05:38] Harry-KIT commented on #171
Hi @frgfm. Good job!
I wanted to know how you generated video_example_wallaby.gif using using some code.

[2022-07-28 08:38] frgfm commented on #171
@Harry-KIT this is a different topic than this issue but briefly: reading through the frames of a video with OpenCV, classifying the images with the model, computing the CAM, then producing the GIF with the resulting frames :ok_hand:

[2022-08-01 02:00] Harry-KIT commented on #171
https://user-images.githubusercontent.com/57295863/182058122-5a53fb27-3e8b-4ba8-97ff-5183d1f2dbb5.mp4

Hi @frgfm. Thanks for your help!

[2022-08-01 21:30] frgfm commented on #156
Hello @noobgrow :wave:

Without additional information from you, I cannot do much. Would you mind providing more details?
Otherwise I'll close the issue since I cannot do anything about it :sweat_smile:

[2022-08-01 21:31] frgfm commented on #157
Hello @edwardcho :wave:

Mind providing a minimal script to reproduce the behavior you described? :pray:
Otherwise I'll close the issue since I cannot do anything about this without more details :sweat_smile:

[2022-08-01 21:34] frgfm commented on #171
Back to the main topic of the issue :)
@long123524 I think I'll close this issue if I understood you correctly because there is a need for a definition of a CAM for a semantic segmentation model. So apart from if I got everything wrong, your request is about something that doesn't have a mathematical definition yet :sweat_smile:

[2022-08-02 17:04] frgfm opened #177 "[demo] Automate deployment to HF Spaces"
The demo hosted on HF Spaces has been updated manually so far. However it is possible to configure an automated deployment:
https://huggingface.co/docs/hub/spaces-github-actions

[2022-08-02 17:15] frgfm opened #178 "Upcoming support for new CAM methods"
TorchCAM is now mature enough to welcome new CAM methods :+1:
This issue is meant to track upcoming additions on the next release!

A few things to consider:
- TorchCAM is not meant to support all available methods. This should focus on the ones providing SOTA performances (or perf milestones)
- the rightful contributors have to be credited: if a piece of code is borrowed from someone else's imple

[2022-08-02 18:30] #142 closed

[2022-08-02 18:31] frgfm opened #181 "Release tracker - v0.5.0"
This issue is to be used to track the roadmap of TorchCAM for release v0.4.0, and collect feedback from users & contributors.

- Methods

- References

- Demo

[2022-08-02 18:32] #140 closed

[2022-08-02 19:22] frgfm commented on #133
Partially yes!
But I have staged this for the next release anyway so I'll dive into it to make it available :)

[2022-09-17 14:23] lars-nieradzik commented on #156
I can confirm this NaN bug. It occurs mostly for ScoreCAM.

[code]

Error happens as follows:
1. core.py --> for weight, activation in zip(weights, self.hook_a): --> variable `self.hook_a` contains NaN
2. torch.nansum(weight * activation, dim=1) --> return a zero tensor
3. self._normalize(cam) --> divide by zero error (because minimum == maximum)

[2022-09-18 11:28] frgfm commented on #156
Hi @lars-nieradzik :wave:

Thanks for the specifics, I managed to reproduce the bug. I think I identified the problem, so I opened a PR #185 which should fix this!

The problem was:
- ScoreCAM is a bit specific and forwards modified input tensor (some with zero variance)
- the normalization in scoreCams was performed inplace (hence the hook_a having NaNs because they're the normalized version actu

[2022-09-18 11:31] frgfm commented on #171
Closing this as per my previous comment

[2022-09-18 11:31] #171 closed

[2022-09-18 11:31] #156 closed

[2022-09-18 11:31] frgfm commented on #157
The NaN problem you mention is fixed by #185. For the rest, I have no way of reproducing it, so I'm closing the issue!
Feel free to reopen if you encounter some trouble :)

[2022-09-18 11:31] #157 closed

[2022-09-18 14:04] lars-nieradzik opened #186 "More NaNs"
### Bug description

Thank you for fixing the previous NaN bug. This solves most issues. However, sometimes these NaNs still occur. With the newest commit, the tensors are zero.

I would suggest adding to torch.nansum a warning message that informs the user that NaN was found. Otherwise, the activation map is just zero and the user is not aware that a problem occurred. I am referring to line https

[2022-09-18 14:16] frgfm commented on #186
Hey again @lars-nieradzik :wave:

Thanks for the issue, I appreciate how specific you are, it's much easier to debug than most requests I get :pray:
On that part, I have doubts that might be the best solution. If NaNs/zero arise because of numerization / float precision, they need to be handled by TorchCAM. However, if for some reasons, the produced feature map is uniform spatially the CAM is basi

[2022-09-18 15:12] frgfm commented on #186
Investigating a bit more, on the image you sent, I located the source of zeros:
- the cam is passed through a ReLU before being normalized
- however, in this example the raw cam is negative

So for this example, I'd argue that there is no error: there is no positive correlation of spatial features on that feature map with the output score (because all values are negative). What do you think?

[2022-09-18 16:13] lars-nieradzik commented on #186
Thank you for your quick answers. Regarding the image, you are right. I just assumed that the zero activation map happened due to torch.nansum(). If all the NaN errors all occur naturally (input has NaN etc.), then I guess a debug msg would not be necessary.

However, I am still seeing NaN in other images. I added `if torch.isnan(weight).any(): print("ERROR")`  to core.py (compute_cams) and ran th

[2022-09-18 17:09] frgfm commented on #186
With the script you just shared and the image, I'm getting a decent activation map:
[code]

Regarding the NaNs for gradient methods, this is the same problem as normalization for ScoreCAMs previously (division by zero), that's for spotting this. I just opened a PR #187 to add an eps to the denominator, that should do it :)

[2022-09-18 17:16] #186 closed

[2022-09-18 17:17] frgfm commented on #186
@lars-nieradzik feel free to reopen if you encounter any more problems :+1:

[2022-10-02 23:40] zsddd commented on #44
Hello, have you finished your 3D visualization? Can you share it? Thank you very much.

[2022-10-03 20:26] frgfm commented on #44
Hi there :wave:

The issue raised by @FredrikM97 was solved last year. I'm not sure what you're referring to regarding the 3D visualization?
CAMs are working on 3D data if that's your question :)

[2022-10-08 07:40] zsddd commented on #44
Thank you for quick replies!

Thank you for quick replies!
My program has the following problems:cannot register a hook on a tensor that doesn't require gradient
This is my program:
file=r'E:\pythonProject\data\train\128\label404347_4 1.npy'
con_arr1 = np.load(file,allow_pickle=True)  # 读取npy文件
con_arr=con_arr1[0][0]
device = 'cuda'
model = resnet18(num_classes=1).to(device)
model.eval()

input_te

[2022-11-09 06:54] boyofabear opened #191 "didn't find remove_hooks() in cam_extractor"
### Bug description

I downloaded the [cam_example](https://github.com/frgfm/torch-cam/blob/main/scripts/cam_example.py) and ran it. It stopped at remove_hooks().
I checked previous [issues](https://github.com/frgfm/torch-cam/pull/158), only to find the change of name.
I ran a [jupyter demo](https://github.com/frgfm/notebooks/blob/main/torch-cam/quicktour.ipynb). It worked fine with cam, but it di

[2022-11-28 00:02] frgfm commented on #191
Hello @boyofabear :wave:

Thanks for opening this issue!
I just checked and I cannot reproduce this locally on 0.3.2, nor on Colab (you can use the button in the documentation to open the notebook in Colab https://frgfm.github.io/torch-cam/notebooks.html)

Moreover, as you can see, the latest release does include this method: https://github.com/frgfm/torch-cam/blob/v0.3.2/torchcam/methods/core.py#

[2022-11-28 03:02] boyofabear commented on #191
thanks a lot, I updated and it works fine with demo!

[2022-11-28 03:02] #191 closed